@charset "UTF-8";
:root{
    --corBanner:#5fbbf0;
}
body{
    margin: 0;
}
video{
    width: 620px;
    height: 360px;
}
#divMain{
    margin:0;
    background-color: var(--corBanner);
    height: 100vh;
    display:flex;
    justify-content: center;
}
#divisao{
    background-color: var(--corBanner);
    width: 86vw;
    height: 100vh;
    align-items: flex-start;
    display:grid;
    justify-content: center;
}
#divMenu{    
    background-color:var(--corBanner);
    height: 18vh;
    width: 86vw;
    display: flex;
    background-color:var(--corBanner);
    text-align: center;
    justify-content:center;
    align-items: center;

}
.divMenuGeral{
    background-color:var(--corBanner);
    height: 10vh;
    display: flex;
    background-color:var(--corBanner);
    text-align: center;
    justify-content:center;
    align-items: center;
}
#divFrase{
    background-color: var(--corBanner);
    height: 82vh;
    width: 86vw;
    display: flex;
    
}
#divNada{
    background-color: var(--corBanner);
    width: 47vw;
    display: flex;
    
}
#divTagA{
    background-color: var(--corBanner);
    width: 35vw;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#divText{
    align-items: center;
    background-color: var(--corBanner);
    width: 39vw;
    display: grid;

}
#divH1{
    display: grid;
    background-color: var(--corBanner);
    width: 35vw;
}
#frame{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 35px;
}
#divQuemSomos{
    height: 80vh;
    background-color: var(--corBanner);
    margin: 8px 0;
    align-items: center;
    display: grid;
    text-align: center;

}
#divNossosProjetos{
    text-align: justify;
}
section{
    text-align: center;
}
section h1{
    font-size: xx-large;
    margin-bottom: 20px;
}
section p{
    font-size: 14pt;
}
input{
    width: 30vw;
}
.divFooter{
    padding: 20px;
    align-items: center;
    display: flex;
    font-size: 8pt;
}
.divFooter img{
    width: 32px;
}
#icones{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.a{
    margin-right: 12px;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    text-decoration: none;
    padding:5px 10px;
    padding: 3px 8px;

}
.a:hover{
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.b{
    font-size: 18pt;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    text-align: center;

}
.b:hover{
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
#pSubTitulo{
    font-size: x-large;
}
p{
    margin: 0;
    text-align:justify;
}
.pHome{
    text-align: center;
    color:black;
    font-size: x-large;
}
h1{
    margin:0;
}
#h1NossosProjetos{
    margin: 0;
    text-align: center;
}
.hHome{
    color:white;
}
.h2Footer{
    padding-left: 8px;
}
#ulHome{
    font-size: larger;
}
footer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin:0;
    background-color:var(--corBanner);
    width: 100%;
}